include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/scientometrics *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/scientometrics/migration *.ini *.py *.mako
